XQBTIW_1013/XQBTIW_mozi.dtd

<!DOCTYPE mozi [
  <!ELEMENT mozi (film)*>
  <!ELEMENT film (rendezo+, szinesz+, iro+)>
  <!ELEMENT rendezo EMPTY>
  <!ELEMENT szinesz EMPTY>
  <!ELEMENT iro EMPTY>
  <!ATTLIST film mufaj (horror|akció|kaland) #REQUIRED>
  <!ATTLIST rendezo id ID #REQUIRED>
  <!ATTLIST rendezo nev CDATA #REQUIRED>
  <!ATTLIST szinesz id ID #REQUIRED>
  <!ATTLIST szinesz nev CDATA #REQUIRED>
  <!ATTLIST iro id ID #REQUIRED>
]>

